@model proyecto_inmobiliaria2_mvc_guardia_lucero.Models.Inmuebles
@{
    ViewData["Title"] = "Inmuebles Detalle";
    string estadoTexto = Model.Estado ? "Activo" : "Inactivo";
}
<h1>Inmueble detalle</h1>
<form>
    <div class="mb-3">
        <label for="EmailPropietario" class="form-label">Email del Propietario</label>
        <input type="text" class="form-control" id="EmailPropietario" name="EmailPropietario" value="@Model.EmailPropietario" readonly/>
    </div>
    <div class="mb-3">
        <label for="Uso" class="form-label">Uso</label>
        <input type="text" class="form-control" id="Uso" name="Uso" value="@Model.Uso" readonly/>
    </div>
    <div class="mb-3">
        <label for="Tipo" class="form-label">Tipo</label>
        <input type="text" class="form-control" id="Tipo" name="Tipo" value="@Model.Tipo" readonly/>
    </div>
    <div class="mb-3">
        <label for="Ambiente" class="form-label">Ambiente</label>
        <input type="text" class="form-control" id="Ambiente" name="Ambiente" value="@Model.Ambiente" readonly/>
    </div>
    <div class="mb-3">
        <label for="Precio" class="form-label">Precio</label>
        <input type="text" class="form-control" id="Precio" name="Precio" value="@Model.Precio" readonly/>
    </div>
    <div class="mb-3">
        <label for="Direccion" class="form-label">Direccion</label>
        <input type="text" class="form-control" id="Direccion" name="Direccion" value="@Model.Direccion" readonly/>
    </div>
    <div class="mb-3">
        <label for="Longitud" class="form-label">Longitud</label>
        <input type="text" class="form-control" id="Longitud" name="Longitud" value="@Model.Longitud" readonly/>
    </div>
    <div class="mb-3">
        <label for="Latitud" class="form-label">Latitud</label>
        <input type="text" class="form-control" id="Latitud" name="Latitud" value="@Model.Latitud" readonly/>
    </div>
    <div class="mb-3">
        @if (!string.IsNullOrEmpty(Model.Portada))
            {
                <label for="Imagen" class="form-label">Imagen:</label>
                <img src="~/images/inmuebles/@Model.Portada" alt="Portada" width="200" height="150" style="object-fit:cover;" />
            }
        else
        {
            <span>Sin imagen</span>
            <img src="~/images/inmuebles/404.png" alt="Portada" width="170" height="120" style="object-fit:cover;" />
        }
    </div>
    <div class="mb-3">
    <label for="Estado" class="form-label">Estado</label>
    <input type="text" class="form-control" id="Estado" name="Estado" value="@estadoTexto" readonly/>
    </div>
</form>
 <a class="btn btn-info" asp-action="Index">Volver</a>