@model List<proyecto_inmobiliaria2_mvc_guardia_lucero.Models.Inmuebles>
@{
    ViewData["Title"] = "Inmuebles";
}
<div class="container mt-5" style="padding-top: 10px;">
<div class="row">
<div class="col-md-12 history bg-light border-right">
<h1>Inmuebles</h1>
<div class="table-responsive">
<table class="table table-hover table-sm">
<thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">Email Propietario</th>
    <th scope="col">Uso</th>
    <th scope="col">Tipo</th>
    <th scope="col">Ambiente</th>
    <th scope="col">Precio</th>
    <th scope="col">Fecha de Creacion</th>
    <th scope="col">Accion</th>
    </tr>
</thead>
<tbody>
@if (Model != null && Model.Any())
{
    int i = 1;
    foreach (var p in Model)
    {
        <tr>
            <td>@i</td>
            <td>@Html.DisplayFor(modelp => p.EmailPropietario)</td>
            <td>@Html.DisplayFor(modelp => p.Uso)</td>
            <td>@Html.DisplayFor(modelp => p.Tipo)</td>
            <td>@Html.DisplayFor(modelp => p.Ambiente)</td>
            <td>@Html.DisplayFor(modelp => p.Precio)</td>
            <td>@p.Fecha_creacion.ToString("dd/MM/yyyy")</td>
            <td>
    <div class="dropdown position-static">
        <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i> <!-- Icono de 3 puntos -->
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" asp-action="Edicion" asp-route-id="@p.Id_inmueble" title="Editar">
                     <i class="fa-solid fa-pencil"></i> Modificar
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-action="Detalle" asp-route-id="@p.Id_inmueble" title="Detalle">
                     <i class="fa-solid fa-book"></i> Detalle
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" 
                      data-id="@p.Id_inmueble" 
                      class="dropdown-item" 
                      onclick="confirmDelete(this)">
                        <i class="fa-solid fa-trash"></i> Eliminar
                  </a>
            </li>
        </ul>
    </div>
</td>
        </tr>
        i++;
    }
}
else
{
    <tr>
        <td colspan="8" class="text-center text-muted">No hay inmuebles cargados</td>
    </tr>
}
</tbody>
</table>
</div>
<button type="button" class="btn btn-primary agregar" data-bs-toggle="modal" data-bs-target="#agregarModal"><i class="fa-solid fa-plus"></i></button>
</div>
</div>
</div>
<!-- PAGINACIÓN -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <!-- Botón Anterior -->
        <li class="page-item @(ViewBag.PaginaActual == 1 || !ViewBag.Registros ? "disabled" : "")">
            <a class="page-link" 
               href="@Url.Action("Index", new { pagina = ViewBag.PaginaActual - 1 })" 
               tabindex="-1">
                Anterior
            </a>
        </li>

        <!-- Números de página -->
        @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
        {
            <li class="page-item @(i == ViewBag.PaginaActual ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { pagina = i })">@i</a>
            </li>
        }

        <!-- Botón Siguiente -->
        <li class="page-item @(ViewBag.PaginaActual == ViewBag.TotalPaginas || !ViewBag.Registros ? "disabled" : "")">
            <a class="page-link" 
               href="@Url.Action("Index", new { pagina = ViewBag.PaginaActual + 1 })">
                Siguiente
            </a>
        </li>
    </ul>
</nav>
<!-- Modal -->
<div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="agregarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="agregarModalLabel">Agregar Inmuebles</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<form asp-action="Agregar" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="InputEmailPropietario" class="form-label">Email Propietario</label>
        <select class="form-control" id="InputEmailPropietario" name="Id_propietario" required>
            <option value="">-- Seleccione un propietario --</option>
            @foreach (var p in ViewBag.Propietarios)
            {
                <option value="@p.Id_propietario">@p.Email</option>
            }
        </select>
        <div class="invalid-feedback">El Email es obligatorio.</div>
    </div>


    <div class="mb-3">
        <label for="exampleInputUso" class="form-label">Uso</label>
                <select class="form-select" id="exampleInputUso" name="Uso">
                    <option value="Residencial">Residencial</option>
                    <option value="Comercial">Comercial</option>
        </select>
    </div>

    <div class="mb-3">
         <label for="exampleInputApellido" class="form-label">Tipo</label>
            <select class="form-select" id="exampleInputTipo" name="Tipo">
                    <option value="local">local</option>
                    <option value="depósito">deposito</option>
                    <option value="casa">casa</option>
                    <option value="departamento">departamento</option>
                </select>
    </div>

    <div class="mb-3">
        <label for="InputAmbiente" class="form-label">Cantidad de Ambiente</label>
        <input type="number" class="form-control" id="InputAmbiente" name="Ambiente" required>
        <div class="invalid-feedback">El Ambiente es obligatorio.</div>
    </div>
    <div class="mb-3">
        <label for="InputPrecio" class="form-label">Precio del Inmueble</label>
        <input type="number" class="form-control" id="InputPrecio" name="Precio" required>
        <div class="invalid-feedback">El Precio es obligatorio.</div>
    </div>
    <div class="mb-3">
        <label for="InputLongitud" class="form-label">Longitud del Inmueble</label>
        <input type="number" class="form-control" id="InputLongitud" name="Longitud" required>
        <div class="invalid-feedback">El Longitud es obligatorio.</div>
    </div>
    <div class="mb-3">
        <label for="InputLatitud" class="form-label">Latitud del Inmueble</label>
        <input type="number" class="form-control" id="InputLatitud" name="Latitud" required>
        <div class="invalid-feedback">El Latitud es obligatorio.</div>
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Sistema</strong>
      <small class="text-muted">justo ahora</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Cerrar"></button>
    </div>
    <div class="toast-body">
      @TempData["Mensaje"]
    </div>
  </div>
</div>
<!-- Modal eliminar-->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar este inmueble?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a id="confirmDeleteButton" href="#" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var toastElement = document.getElementById("successToast");
        var toast = new bootstrap.Toast(toastElement);
        
        @if (TempData["Mensaje"] != null)
        {
            <text>
                toast.show();
            </text>
        }
   
    });
    function confirmDelete(element) {
        var id = element.getAttribute("data-id");
        var url = "@Url.Action("Eliminar", "Inmueble")" + "/" + id;
        document.getElementById("confirmDeleteButton").setAttribute("href", url);
        var myModal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
        myModal.show();
    }

</script>
