@model proyecto_inmobiliaria2_mvc_guardia_lucero.Models.Inquilinos
@{
    ViewData["Title"] = "Propietarios Edicion";
}

<div class="container mt-5" style="padding-top: 10px;">
    <h1>Editar Inquilinos</h1>

    <form asp-action="Actualizar" method="post" class="needs-validation" novalidate>
        <div class="row">
            <div class="col-md-6">
                <label for="Dni" class="form-label">DNI</label>
                <input type="text" class="form-control" id="Dni" name="Dni" value="@Model.Dni" required/>
                <div class="invalid-feedback">El DNI es obligatorio.</div>
                <input type="hidden" id="Id_inquilino" name="Id_inquilino" value="@Model.Id_inquilino" required/>
            </div>

            <div class="col-md-6">
                <label for="Apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="Apellido" name="Apellido" value="@Model.Apellido" required/>
                <div class="invalid-feedback">El Apellido es obligatorio.</div>
            </div>

            <div class="col-md-6">
                <label for="Nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Model.Nombre" required/>
                <div class="invalid-feedback">El Nombre es obligatorio.</div>
            </div>

            <div class="col-md-6">
                <label for="Email" class="form-label">Email</label>
                <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required/>
                <div class="invalid-feedback">Ingrese un email válido.</div>
            </div>

            <div class="col-md-6">
                <label for="Telefono" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="Telefono" name="Telefono" value="@Model.Telefono" required pattern="^[0-9]{10}$"/>
                <div class="invalid-feedback">Ingrese un teléfono válido de 10 dígitos.</div>
            </div>

            <!-- Botones alineados -->
            <div class="col-md-12 mt-3 d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <a class="btn btn-secondary" asp-action="Index">Volver</a>
            </div>
        </div>
    </form>
</div>
