@model proyecto_inmobiliaria2_mvc_guardia_lucero.Models.ContratoDetalleViewModel
@{
    ViewData["Title"] = "Pagos Asocaidos al Contratos";
}
<div class="text-center">
	<h1 class="display-4">Pagos Asocaidos al Contratos</h1>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
        <th>#</th>
        <th>Monto</th>
        <th>Detalle</th>
        <th>Fecha del pago</th>
        @if (User.IsInRole("Administrador"))
        {
        <th scope="col">Creado por</th>
        <th scope="col">Anulado por</th>
        }
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    @if (Model.ListaDePagos != null && Model.ListaDePagos.Any())
{
    int i = 1;
    foreach (var p in Model.ListaDePagos)
    {
      if(p.Estado){
        <tr>
            <td>@i</td>
            <td>@Html.DisplayFor(modelp => p.Monto)</td>
            <td>@Html.DisplayFor(modelp => p.Detalle)</td>
            <td>@p.Fecha_creacion.ToString("dd/MM/yyyy")</td>
            @if (User.IsInRole("Administrador"))
            {
                <td>@Html.DisplayFor(modelp => p.Creado_por)</td>
                <td>@Html.DisplayFor(modelp => p.Anulado_por)</td>
            }
            <td>@(p.Estado ? "Activo" : "Anulado")</td>
            <td>
    <div class="dropdown position-static">
        <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i> <!-- Icono de 3 puntos -->
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="javascript:void(0);" 
                      data-id="@p.Id_pago" 
                      class="dropdown-item" 
                      onclick="confirmDelete(this)">
                        <i class="fa-solid fa-trash"></i> Anular Pago
                  </a>
            </li>
        </ul>
    </div>
</td>
        </tr>
        i++;
        }else{
          <tr class="table-danger">
            <td>@i</td>
            <td>@Html.DisplayFor(modelp => p.Monto)</td>
            <td>@Html.DisplayFor(modelp => p.Detalle)</td>
            <td>@p.Fecha_creacion.ToString("dd/MM/yyyy")</td>
            @if (User.IsInRole("Administrador"))
            {
                <td>@Html.DisplayFor(modelp => p.Creado_por)</td>
                <td>@Html.DisplayFor(modelp => p.Anulado_por)</td>
            }
            <td>@(p.Estado ? "Activo" : "Anulado")</td>
            <td>
          <div class="dropdown position-static">
              <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i> <!-- Icono de 3 puntos -->
              </button>
              <ul class="dropdown-menu">
                  <li>
                <a href="javascript:void(0);" 
                      data-id="@p.Id_pago" 
                      class="dropdown-item" 
                      onclick="confirmDeleteD(this)">
                        <i class="fa-solid fa-trash"></i> Eliminar Pago
                  </a>
            </li>
              </ul>
          </div>
      </td>
              </tr>
              i++;
        }
    }
}
else
{
    <tr>
        <td colspan="8" class="text-center text-muted">No hay Pagos cargados</td>
    </tr>
}
  </tbody>
</table>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary agregar" data-bs-toggle="modal" data-bs-target="#agregarModal"><i class="fa-solid fa-plus"></i></button>
<div class="mb-3 d-flex">
@if (Model.ContratoActual != null){
    <p class="me-3">Monto total: @Model.ContratoActual.Monto_total</p>
    <p class="me-3">Monto a Pagar: @Model.ContratoActual.Monto_a_pagar</p>
    <p class="me-3">Fecha Desde: @Model.ContratoActual.Fecha_desde.ToString("dd/MM/yyyy")</p>
    <p class="me-3">Fecha Hasta: @Model.ContratoActual.Fecha_hasta.ToString("dd/MM/yyyy")</p>
    <p class="me-3">Contrato Completado: @(Model.ContratoActual.Contrato_completado ? "SI" : "NO")</p>
    <p class="me-3">Meses: @Model.ContratoActual.Meses</p>
  }
</div>
<!-- PAGINACIÓN -->
@if (Model.TotalPaginasPagos > 1)
{
    <nav aria-label="Paginación de pagos">
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.PaginaActualPagos == 1 ? "disabled" : "")">
                <a class="page-link" 
                   asp-action="Pago"
                   asp-route-id="@Model.ContratoActual?.Id_contrato"
                   asp-route-paginaPagos="@(Model.PaginaActualPagos - 1)"
                   asp-route-paginaMultas="@Model.PaginaActualMultas">
                    Anterior
                </a>
            </li>

            @for (int i = 1; i <= Model.TotalPaginasPagos; i++)
            {
                <li class="page-item @(i == Model.PaginaActualPagos ? "active" : "")">
                    <a class="page-link" 
                       asp-action="Pago"
                       asp-route-id="@Model.ContratoActual?.Id_contrato"
                       asp-route-paginaPagos="@i"
                       asp-route-paginaMultas="@Model.PaginaActualMultas">
                        @i
                    </a>
                </li>
            }

            <li class="page-item @(Model.PaginaActualPagos == Model.TotalPaginasPagos ? "disabled" : "")">
                <a class="page-link" 
                   asp-action="Pago"
                   asp-route-id="@Model.ContratoActual?.Id_contrato"
                   asp-route-paginaPagos="@(Model.PaginaActualPagos + 1)"
                   asp-route-paginaMultas="@Model.PaginaActualMultas">
                    Siguiente
                </a>
            </li>
        </ul>
    </nav>
}
<!-- Modal -->
<div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="agregarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="agregarModalLabel">Agregar Pago</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<form asp-action="AgregarPago" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="InputDetalle" class="form-label">Detalle</label>
        <input type="text" class="form-control" id="InputDetalle" name="Detalle" required>
          <input type="hidden" id="Id_contrato" name="Id_contrato" value="@Model.ContratoActual?.Id_contrato" />
        <div class="invalid-feedback">El Detalle del pago es obligatorio.</div>
    </div>
    <div class="mb-3">
        <label for="InputMonto" class="form-label">Monto</label>
        <input type="text" class="form-control" id="InputMonto" name="Monto" value="@(Model.ContratoActual?.Monto)" readonly required>
        <div class="invalid-feedback">El Monto del pago es obligatorio.</div>
    </div>
  

    <button type="submit" class="btn btn-primary">Agregar</button>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal eliminar-->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmar Anulacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas Anular este Pago?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a id="confirmDeleteButton" href="#" class="btn btn-danger">Anular</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal eliminar2-->
<div class="modal fade" id="confirmDelete2Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal2Label">Confirmar Eliminacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas Eliminar este Pago?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a id="confirmDelete2Button" href="#" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
	<h1 class="display-4">Multas Asocaidos al Contratos</h1>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
        <th>#</th>
        <th>Razon multa</th>
        <th>Monto</th>
        <th>Fecha</th>
        <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
@if (Model.ListaDeMultas != null && Model.ListaDeMultas.Any())
{
    int i = 1;
    foreach (var p in Model.ListaDeMultas)
    {
 <tr>
            <td>@i</td>
            <td>@Html.DisplayFor(modelp => p.Razon_multa)</td>
            <td>@Html.DisplayFor(modelp => p.Monto)</td>
            <td>@p.Fecha.ToString("dd/MM/yyyy")</td>
            <td>
            <div class="dropdown position-static">
                <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i> <!-- Icono de 3 puntos -->
                </button>
                <ul class="dropdown-menu">
                    <li>
                        
                    </li>
                </ul>
            </div>
        </td>
                </tr>
        i++;

    }

}
  </tbody>
</table>
@if (Model.TotalPaginasMultas > 1)
{
    <nav aria-label="Paginación de multas">
        <ul class="pagination justify-content-center">
            
            <li class="page-item @(Model.PaginaActualMultas == 1 ? "disabled" : "")">
                <a class="page-link" 
                   asp-action="Pago"
                   asp-route-id="@Model.ContratoActual?.Id_contrato"
                   asp-route-paginaPagos="@Model.PaginaActualPagos"
                   asp-route-paginaMultas="@(Model.PaginaActualMultas - 1)">
                    Anterior
                </a>
            </li>

            @for (int i = 1; i <= Model.TotalPaginasMultas; i++)
            {
                <li class="page-item @(i == Model.PaginaActualMultas ? "active" : "")">
                    <a class="page-link" 
                       asp-action="Pago"
                       asp-route-id="@Model.ContratoActual?.Id_contrato"
                       asp-route-paginaPagos="@Model.PaginaActualPagos"
                       asp-route-paginaMultas="@i">
                        @i
                    </a>
                </li>
            }

            <li class="page-item @(Model.PaginaActualMultas == Model.TotalPaginasMultas ? "disabled" : "")">
                <a class="page-link" 
                   asp-action="Pago"
                   asp-route-id="@Model.ContratoActual?.Id_contrato"
                   asp-route-paginaPagos="@Model.PaginaActualPagos"
                   asp-route-paginaMultas="@(Model.PaginaActualMultas + 1)">
                    Siguiente
                </a>
            </li>
            
        </ul>
    </nav>
}
<script>
function confirmDelete(element) {
    var Id_pago = element.getAttribute("data-id");
    var Id_contrato = @Model.ContratoActual?.Id_contrato;
    var url = `@Url.Action("AnularPago", "Contrato")?Id_pago=${Id_pago}&Id_contrato=${Id_contrato}`;
    document.getElementById("confirmDeleteButton").setAttribute("href", url);
    var myModal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
    myModal.show();
}
function confirmDeleteD(element) {
    var Id_pago = element.getAttribute("data-id");
    var Id_contrato = @Model.ContratoActual?.Id_contrato;
    var url = "@Url.Action("EliminarPago", "Contrato")" + "/" + Id_pago;
    document.getElementById("confirmDelete2Button").setAttribute("href", url);
    var myModal = new bootstrap.Modal(document.getElementById('confirmDelete2Modal'));
    myModal.show();
}

</script>