@model proyecto_inmobiliaria2_mvc_guardia_lucero.Models.Usuarios
@{
    ViewData["Title"] = "Usuario Edicion";
}

<div class="container mt-5" style="padding-top: 10px;">
    <h1>Editar Usuario</h1>

    <form asp-action="Actualizar" method="post" class="needs-validation" novalidate>
        <div class="row">
            <div class="col-md-6">
                <label for="Dni" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Model.Nombre" required/>
                <div class="invalid-feedback">El Nombre es obligatorio.</div>
                <input type="hidden" id="Id_usuario" name="Id_usuario" value="@Model.Id_usuario" required/>
            </div>

            <div class="col-md-6">
                <label for="Apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="Apellido" name="Apellido" value="@Model.Apellido" required/>
                <div class="invalid-feedback">El Apellido es obligatorio.</div>
            </div>

            <div class="col-md-6">
                <label for="Email" class="form-label">Email</label>
                <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required/>
                <div class="invalid-feedback">Ingrese un email válido.</div>
            </div>

            <div class="col-md-6">
                <label for="Rol" class="form-label">Rol</label>
                <select class="form-select" required aria-label="select example" id="Rol" name="Rol">
                @if(Model.Rol == 2){
                    <option value="2" select>Empleado</option>
                    <option value="1">Administrador</option>
                }else{
                    <option value="1" select>Administrador</option>
                    <option value="2">Empleado</option>
                }
                </select>
                <div class="invalid-feedback">El Rol es obligatorio.</div>
            </div>

            <!-- Botones alineados -->
            <div class="col-md-12 mt-3 d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Actualizar</button>
                
            </div>
        </div>
    </form>
     <h1>Editar Clave</h1>
    <form asp-action="ActualizarEditarClave" method="post" class="needs-validation" novalidate>
        <div class="row">
            <div class="col-md-6">
                <label for="Password" class="form-label">Password</label>
                <input type="password" class="form-control" id="Password" name="Clave" required>
                <div class="invalid-feedback">El Password es obligatorio.</div>
                <input type="hidden" id="Id_usuario" name="Id_usuario" value="@Model.Id_usuario" required/>
            </div>

            <!-- Botones alineados -->
            <div class="col-md-12 mt-3 d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Actualizar</button>
                
            </div>
        </div>
    </form>
     <h1>Editar Avatar</h1>
     <form asp-action="ActualizarEditarAvatar" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="row">
            <div class="col-md-6">
                <label for="AvatarFile" class="form-label">Avatar</label>
                @if (!string.IsNullOrEmpty(Model.AvatarUrl))
                {
                    <img src="~/images/@Model.AvatarUrl" alt="avatar" width="30" height="20" style="object-fit:cover;" />
                }
                else
                {
                    <span>Sin imagen</span>
                }
                <input class="form-control form-control-sm" id="AvatarFile" name="AvatarFile" type="file" >
                <input type="hidden" id="Id_usuario" name="Id_usuario" value="@Model.Id_usuario" required/>
            </div>

            <!-- Botones alineados -->
            <div class="col-md-12 mt-3 d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <a class="btn btn-secondary" asp-action="Index">Volver</a>
            </div>
        </div>
    </form>
</div>
